<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Prism.Core" version="7.1.0.431" targetFramework="xamarinmac20" />
  <package id="Prism.Forms" version="7.1.0.431" targetFramework="xamarinmac20" />
  <package id="Prism.Plugin.Popups" version="2.1.0.228" targetFramework="xamarinmac20" />
  <package id="Prism.Unity.Forms" version="7.1.0.431" targetFramework="xamarinmac20" />
  <package id="Rg.Plugins.Popup" version="1.1.5.180" targetFramework="xamarinmac20" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="xamarinmac20" />
  <package id="Unity.Container" version="5.8.11" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="3.4.0.1008975" targetFramework="xamarinmac20" />
</packages>