<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>3.2</string>
	<key>CFBundleDisplayName</key>
	<string>CodeHubX</string>
	<key>CFBundleName</key>
	<string>CodeHubX.Apple.WatchOSApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.synergy.CodeHubX</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>com.synegrgy.CodeHubX.Companion</string>
	<key>WKWatchKitApp</key>
	<true/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>bn-BD</string>
        <string>de</string>
        <string>el</string>
        <string>en-US</string>
        <string>es</string>
        <string>fr</string>
        <string>hu-HU</string>
        <string>it</string>
        <string>pt</string>
        <!-- Brazil -->
        <string>zh-Hans</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>en-US</string>
</dict>
</plist>
